body{
	/* background-color:#ccc; */
	background: url("../images/bg4.jpg") no-repeat 0 0;
}
.main{
	margin-left:calc((100% - (440px))/2);
}
.login{
	margin-top:200px;
	width:440px; 
	height: 350px;
	border:1px solid #c1c1c1;
	background-color:rgba(255,255,255,0.8);
}
.login-form,.regist-form{
	margin-top: 50px;
}
#login-alert,#regist-alert{
	display: none;
	text-align: center;
}
.login-btn,.regist-btn{
	height: 40px;
}
.regist{
	margin-top:100px;
	width:440px;
	height: 561px;
	border:1px solid #c1c1c1;
	background-color:rgba(255,255,255,0.8);
}